# Ігноруємо системні файли macOS
.DS_Store

# Ігноруємо налаштування PyCharm
.idea/

# Ігноруємо віртуальне середовище Python та кеш
venv/
env/
__pycache__/
.ipynb_checkpoints/

# На всякий випадок блокуємо випадкове завантаження великих даних
*.csv
*.xlsx